@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Markazi+Text&display=swap");

:root {
    --headline-font-family: 'Markazi Text', serif;
    --paragraph-font-family: 'Karla', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--headline-font-family);
  }
  
  p {
    font-family: var(--paragraph-font-family);
  }